<%= form_with(model: @user, local: true) do |f| %>
    <p>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
    </p>
    

    <p>
        <%= f.label :last_name %>
        <%= f.text_field :last_name%>
    </p>

    <p>
        <%= f.label :email %>
        <%= f.email_field :email %>
    </p>

    <p>
        <%= f.label :password%>
        <%= f.password_field :password %>
    </p>

    <%= f.submit %>
<% end %>

<%= link_to "Homepage", events_path %>