<p>Name: <%= @user.full_name %> </p>
<p>Total Approved Hours: <%= @user.total_approved_hours %> </p>
<p>Total Unapproved Hours: <%= @user.total_unapproved_hours %> </p>
<p>User Role: <%= @user.user_role.name %> </p>

<%= link_to "Homepage", root_path %>


<% if current_user.user_role.can_delete_users %>
    <%= link_to "System Wipe" %>
<% end %>