<p>Name: <%= @user.full_name %> </p>

<p>Total Front Office Hours: <%= @user.front_office_hours / 60 %> </p>
<p>Total Pantry Runner Hours: <%= @user.pantry_runner_hours / 60  %> </p>
<p>Total Volunteer Hours: <%= @user.volunteer_hours / 60 %> </p>
<p>Total Approved Hours: <%= @user.total_approved_hours / 60 %> </p>
<p>Total Unapproved Hours: <%= @user.total_unapproved_hours / 60 %> </p>
<p>User Role: <%= @user.user_role.name %> </p>

<%= link_to "Homepage", root_path %>