<% if logged_in? %>

    <%= link_to "Log out", logout_path, method: :delete %>

<% else %>
    <%= link_to "Log in", login_path%>
    <%= link_to "Sign up", new_user_path %>

<% end %>



<table>
    <tr>
        <th>Name</th>
        <th>Date</th>
    </tr>

    <%= link_to "New Event", new_event_path %>

    <% @events.each do |event| %>
        <tr>
            <td><%= link_to event.name, event_path(event) %></td>    
            <td><%= event.date %></td>
        </tr>
    <% end %>
    
</table>