<% if User.first.full_name == 'Jane Doe' %>
    <%= link_to User.first.full_name , user_path(User.first) %>
<% end %>
<%= link_to "Sign Out", destroy_user_session_path %>

<%= link_to current_user.full_name, user_path(current_user)%>

<table>
    <tr>
        <th>Name</th>
        <th>Date</th>
    </tr>

    <% if current_user.user_role.can_create %>
        <%= link_to "New Event", new_event_path %>
    <% end %>
    

    <% @events.each do |event| %>
        <tr>
            <td><%= link_to event.name, event_path(event) %></td>    
            <td><%= event.date %></td>
        </tr>
    <% end %>
    
</table>