<p>filler</p>
<%= link_to "Sign Out", destroy_user_session_path %>

<%= current_user.full_name %>

<table>
    <tr>
        <th>Name</th>
        <th>Date</th>
    </tr>

    <%= link_to "New Event", new_event_path, :class => "btn btn-default" %>

    <% @events.each do |event| %>
        <tr>
            <td><%= link_to event.name, event_path(event) %></td>    
            <td><%= event.date %></td>
        </tr>
    <% end %>
    
</table>