<p>Name: <%= @event.name%> </p>
<p>Date: <%= @event.date %></p>
<p>Description: <%= @event.description %></p>
<p>Volunteers: <%= @event.volunteers %></p>
<p>Front Desks: <%= @event.front_desks %></p>
<p>Runners: <%= @event.runners %></p>
<% @timeslots.each do |timeslot| %>
    <p>
        <%= timeslot.time.strftime('%l:%M %P') %>: 
        <%= timeslot.role%>
        <% if timeslot.user == nil %>
            <%= link_to "Claim", claim_path(timeslot), method: :post%>
        <% else %>
                <%= link_to timeslot.user.full_name, user_path(timeslot.user)%>
                <% if timeslot.user.id == current_user.id || current_user.user_role.can_create %>
                    <%= link_to "Unclaim", unclaim_path(timeslot), method: :post %>
                <% end %>
        <% end %>
        
    </p>
<% end %>

<% if current_user.user_role.can_create %>
    <p>
        <%= link_to "Add Timeslots", new_timeslot_path(event_id: @event.id)%>
    </p>
<% end %>


<% if current_user.user_role.can_delete %>
    <%= link_to "Delete", event_path(@event), method: :delete %>
<% end %>
<p>
    <%= link_to "Homepage", events_path %>
</p>
