<div class="container">

    <div class="card mt-4 mb-4 shadow">
        <div class="card-header">
            <h3 class="card-title" style="text-align:center"><%= @event.name%> </h3>
        </div>
        
        <div class="p-4">
            <p>Date: <%= @event.date %></p>
            <p>Description: <%= simple_format(@event.description) %></p>
            <p>Volunteers: <%= @event.volunteers %></p>
            <p>Front Desks: <%= @event.front_desks %></p>
            <p>Runners: <%= @event.runners %></p>
        
        </div>
        
        
        <div>
            <div >
                <div class = "row ml-1 justify-content-center">
                    <% if current_user.user_role.can_create %>
                    <p>
                        <%= link_to "Add Timeslots", new_timeslot_path(event_id: @event.id), class: "btn btn-dark mr-2"%>
                    </p>      
                <% end %>
                
                <% if current_user.user_role.can_delete %>
                    <p>
                        <%= link_to "Delete", event_path(@event), method: :delete, data: {confirm: "Are you sure you want to delete this event?"}, class: "btn btn-danger mr-2" %>
                    </p>
                <% end %>
                </div>
                

                <% if @timeslots.size > 0 %>
                    <div style="overflow-x:auto;">
                        <table class = "table table-striped table-responsive text-nowrap my-2">
                        <% @header.each do |part| %>
                            <th><%= part %></th>
                        <% end %>
                
                        <% @timeslots_matrix.each do |row| %>
                        <tr>
                            <td> <%= row.first.time.strftime('%l:%M %P') %> - <%= (row.first.time + row.first.duration * 60).strftime('%l:%M %P') %></td>
                
                            <% row.each do |timeslot| %>
                                <td>
                                    <% if timeslot.user == nil %>
                                        <%= link_to "Claim", claim_path(timeslot), method: :post, class: "btn btn-outline-primary"%>
                                    <% else %>
                                        <%= link_to timeslot.user.full_name, user_path(timeslot.user)%>
                                            <% if timeslot.user.id == current_user.id || current_user.user_role.can_claim_unclaim %>
                                                <%= link_to "Unclaim", unclaim_path(timeslot), method: :post, class: "btn btn-outline-danger" %>
                                            <% end %>
                                            
                                            <% if current_user.user_role.can_approve_unapprove %>
                                                <% if timeslot.is_approved %>
                                                    <%= link_to "Unapprove", unapprove_path(timeslot), method: :post, class: "btn btn-outline-secondary" %>
                                                <% else %>
                                                    <%= link_to "Approve", approve_path(timeslot), method: :post, class: "btn btn-outline-success" %>
                                                <% end %>
                                            <% end %>
                                            
                                            
                                    <% end %>
                                </td>
                            <% end %>
                        </tr>
                
                        <% end %>
                        </table>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

