<p>Name: <%= @event.name%> </p>
<p>Date: <%= @event.date %></p>

<% @timeslots.each do |timeslot| %>
    <p>
        <%= timeslot.time.strftime('%l:%M %P') %>: 
        <% if timeslot.user == nil %>
            <%= link_to "Claim", claim_path(timeslot), method: :post%>
        <% else %>
                <%= timeslot.user.full_name%>
        <% end %>
        
    </p>
<% end %>

<p>
    <%= link_to "Add Timeslots", new_timeslot_path(event_id: @event.id)%>
</p>
<p>
    <%= link_to "Homepage", events_path %>
</p>
